<div>
  <% @recipes.each do |recipe| %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-center"><%= recipe.name.capitalize %></h5>
        <div class="d-flex justify-content-between m-2">
          <div>
            <p><%= recipe.description %></p>
            <p class="card-text"><span class="fst-italic">Made by: </span><small class="text-muted"><%= User.find_by(id: recipe.user_id).name %></small></p>
              <%= link_to "Details", user_public_recipe_path(current_user.id, recipe.id),class: "fst-italic"  %>
          </div>
          <div class="form-check form-switch">
            <% if can? :manage, recipe %>
              <%= button_to "Destroy", recipe, method: :delete, class: "btn btn-outline-danger btn-sm small-btn"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>