<div class='container'>
  <div style='display:flex;flex-direction:column' class= 'container row'>
    <% @recipes.each_with_index do |recipe, index| %>
      <% if current_user.id == recipe.user_id %>
        <div style='display:flex;border:2px solid black;margin-top:8px'>
          <div class= 'col-3'>
            <h3>Recipe <%= index + 1%>:
            <%= link_to user_recipe_path(current_user, recipe.id) do  %>
              <%= recipe.name %> </h3>
            <% end %>
            <% if can? :destroy, recipe %>
              <%= button_to 'Remove', "/users/#{current_user.id}/recipes/#{recipe.id}", method: :delete, class:"btn btn-secondary" %>
            <% end %>
          </div>
          <p class='col'> <%= recipe.description %> </p>
        </div>
      <% end %>
    <% end %>
  </div>  
</div>



