<div id="shopping-list">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Food</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
      <% @foods.each do |food| %>
        <tr>
          <% quantity = RecipeFood.joins(:food).where(food_id: food.id).sum('quantity') %>
          <td><%= food.name %></td>
          <td><%= quantity %> <%= food.measurement_unit %> </td>
          <td>$ <%= food.price * quantity %></td>
          <td><%= link_to 'Delete', user_food_path(current_user, food.id), method: :delete %> </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>